.section {
    margin: 64px 0;
}
.container {
    margin: 0 auto;
    padding:0 15px;
    max-width: 1200px;
    display: flex;
}

.wraper {
    display: flex;
    width: 100%;
    padding: 5% 3.5%;
}

.values__box-text {
    width: 50%;
}

.section__title {
    margin-top: 66px;
    margin-bottom: 12px;
}

.values__text {
    margin-bottom: 32px;
    margin-top: 0;
}

.values__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.values__item {
    display: inline-flex;
    align-items: center;
    width: calc((50% - 20px) / 1);

    padding: 0;
}

.values__item svg {
    flex-shrink: 0;
    margin-right: 20px;
}

.values__title {
    margin: 0;
}

.values__picture {
    display: flex;
    width: 50%;
}

.values__picture img {
    display: block;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 767px) {
    .section {
        margin: 32px 0;
    }

    .wraper {
        flex-direction: column;
    }

    .values__box-text {
        display: contents;
        width: 100%;
    }

    .section__title {
        margin-top: 0;
        order: -1;
        text-align: center;
    }

    .values__text {
        order: -1;
    }

    .values__picture {
        margin: 20px auto;
        width: 100%;
        order: -1;
    }
}

@media screen and (max-width: 479px) {
    .values__item {
        width: 100%;
    }
}